$contour: grey;
$couleurLienHover: grey;
$fonfFooterEtTxtCard: #444440;

$bandeauHaut: #92c0f0;
$fondFonce: #10406a;
$fondClair: #c4e7f2;
$cardShadow: #ababa7;
$couleurPolice: rgb(70, 69, 69);
// $couleurPolice: black;
$couleurPoliceBouton: white;

$couleurBackground: #160e33;
