$contour: grey;
$couleurLienHover: grey;
$fonfFooterEtTxtCard: #444440;

$fondFonce: #10406a;
$fondClair: #537b86;
$cardShadow: #ababa7;
$couleurPolice: rgb(247, 243, 243);
// $couleurPolice: black;
$couleurPoliceBouton: white;

$couleurBackground: #160e33;
